@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.sections {
  opacity: 0;
  transform: translateY(100px);
}

.sections.visible {
  animation: slideUp 1s ease forwards;
}

.fix-img1 {
  background: url("./assets/prioritize.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.fix-img2 {
  background: url("./assets/flexible.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .slide-top1 {
     overflow: hidden;
     position: relative;
     text-align: center;
     background-image: linear-gradient(#1f2937, rgb(0, 0, 0));
    }
    .slider {
      background: url("./assets/unseen-img.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      overflow: hidden;
      position: relative;
     }
     .slider2 {
      background: url("./assets/pana.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
      position: relative;
     }
     .slider3 {
      background-color: rgb(238, 255, 238);
      overflow: hidden;
      position: relative;
      height: 80vh;
     }
    .slide-top1 button {
      margin-bottom: -25%;
    }
    .slider button {
      margin-bottom: 10%;
    }
    .slider2 button, .slider3 button{
      margin-bottom: -25%;
    }
    .slide-top1::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 90vh;
      z-index: 20;
    }
    .slider2::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 90vh;
      background-color: rgba(0, 0, 0, 0.771);
      z-index: 20;
    }
    .slider3::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 90vh;
      background-color: rgba(0, 0, 0, 0);
      z-index: 20; 
    }
    .slider::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 90vh;
      background-color: rgba(0, 0, 0, 0);
      z-index: 20;
    }
    .slide-top1 > * {
      position: relative;
      z-index: 20;
    }
    .slider2 > *, .slider3 > * {
      position: relative;
      z-index: 20;
    }
    .slider > * {
      position: relative;
      z-index: 20;
    }
    .edit-text, .edit-text3 {
      color: white;
    }
    .edit-text2 {
      color: white;
      margin-top: 10%;
    }
    @media (max-width: 400px) {
      .slider p {
        font-size: 14px;
      }
    }
}